
body {
    margin: 0;
}

.cart-container {
    background-image: url('../../../images/Radcliffe_Baltimore_004_AR-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px -300px ;
    margin: 0;
}


.cart-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.543);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.cart-items-container {
    border: 5px rgb(145, 145, 145) solid;
    word-break: break-all;
    background-color: rgba(255, 255, 255, 0.766);
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem 25px;
    margin: 10% 0;
    min-height: 100vh;
}

.remove-from-cart-button {
    background-color: rgb(193, 19, 19);
    padding: 0.5rem;
    color: whitesmoke;
    border-radius: 8px;
    border: 0px;
}

.remove-from-cart-button:hover {
    padding: 0.6rem;
}

.cart-items {
    margin: 1rem ;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.cart-total {
    display: grid;
    justify-content: center;
    align-items: center;

}

.item-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-minus-add-btn {
    margin: 0 10px;
}
.cart-total-button {
    padding: 0.5rem;
}
.cart-total-button button {
    padding: 0.5rem;
    border-radius: 8px;
    width: 100%;
}

.cart-item-text {
    margin: 1rem;
}

.cart-item-img {
    height: 18rem;
    width: 18rem;
}

@media only screen and (max-width: 900px) {
    .cart-items-container {
        padding: 2rem 0;
        margin: 3rem 0;
    }
    .cart-items {
        padding: 0;
        margin: 0;
    }
    
}

@media only screen and (max-width: 600px) {
    .cart-items-container {
        padding: 2rem 0;
        margin: 0;
    }
}


@media only screen and (max-width: 500px) {
    .cart-item-img {
        height: 70vw;
        width: 70vw;
    }
}
