
body {
    margin: 0;
}

.cart-container {
    background-image: url('../../../images/Radcliffe_Baltimore_004_AR-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px -300px ;
    margin: 0;
}


.cart-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.543);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7rem 1rem;
}


.cart-items-container {
    border: 5px rgb(145, 145, 145) solid;
    word-break: break-all;
    background-color: rgba(255, 255, 255, 0.766);
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem 25px;
    margin:0;
    min-height: 100vh;
}

.remove-from-cart-button {
    background-color: rgb(193, 19, 19);
    padding: 0.5rem;
    color: whitesmoke;
    border-radius: 8px;
    border: 0px;
}

.remove-from-cart-button:hover {
    padding: 0.6rem;
}

.cart-items {
    margin: 1rem ;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.cart-total {
    display: grid;
    justify-content: center;
    align-items: center;

}

.item-quantity {
    display: flex;
    border: 1px solid rgb(137, 137, 137);
    border-radius: 30px;
    width: 30%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.cart-minus-btn {
    margin: 0 10px;
    padding: 2px 15px;
    padding-bottom: 4px;
    border: none;
}
.cart-add-btn {
    margin: 0 10px;
    padding: 2px 11px;
    padding-bottom: 4px;
    border: none;
}

.cart-total-button {
    padding: 0.5rem;
}

.cart-total-button button {
    padding: 0.5rem;
    border-radius: 8px;
    width: 100%;
    
}

.cart-item-text {
    margin: 1rem;
}

.cart-item-img {
    height: 18rem;
    width: 18rem;
}



@media only screen and (max-width: 600px) {
    .cart-items-container {
        padding: 2rem 0;
        margin: 0;
    }
}


@media only screen and (max-width: 500px) {
    .cart-item-img {
        height: 70vw;
        width: 70vw;
    }
    .cart-items {
        margin: 0;
        padding: 0;
    }
    .cart-overlay {
        padding: 27.5vw 15px;
    }
    .item-quantity {
        border: none;
        overflow: visible;
    }
}

@media only screen and (max-width: 400px) {
    .remove-from-cart-button {
        font-size: 5vw;
        width: 80%;
        margin: 0 auto;
    }
    .cart-total-button button {
        font-size: 5vw;
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 200px) {
    .cart-add-btn {
        padding: 1.5vw 6vw;
        margin: 0;
    }
    .cart-minus-btn {
        padding: 1.5vw 8vw;
        margin: 0;
    }
    .cart-overlay {
        padding: 4rem 0;
    }
    .cart-items-container h1 {
        font-size: 14vw;
    }
}