

.showcase-container {
    background-image: url("../../../images/showcase-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.727);
}



img {
    height: 35rem;
    width: 35rem;
}

.watch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem 0rem;

}
.showcase-left-side {
    height: 70%;
    margin: 0;
    padding: 0;
    width: 25%;
    display: grid;
    justify-content: center;
    align-items: left;
    color: rgb(255, 255, 255);
    text-align: left;
}
.showcase-container h1 {
    letter-spacing: 0.2rem;
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
}

.showcase-left-side p {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.price {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    
}

.add-to-cart-button {
    margin: 0.8rem 0rem;
    padding: 0.7rem;
    background-color: rgb(0, 111, 0);
    width: 100%;
    color: whitesmoke;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}



.showcase-description-div {
    margin: 0 auto;
    width: 40%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: whitesmoke;
    width: 100%;
    color: rgb(84, 84, 84);
    text-align: center;
    padding: 4rem;
    letter-spacing: 0.1rem;
}

.watch-description-div {
    font-size: 3rem;
    margin-bottom: 1rem;
    width: 70%;
    margin: 0 auto;
    font-weight: 900;
    padding-bottom: 4rem;
}


.watch-info-div {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.674);
    color: whitesmoke;
    padding: 2rem;
    border-radius: 10px;
    font-weight: 900;
    text-align: left;
}