


.header-logo-container {
    text-align: center;
  }


.header-background {
  background-image: url("../../../images/rolexbackground7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 120vh;
  background-attachment: fixed;
  transition: 0.5s;
  animation-name: animate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  font-family: 'Lato', sans-serif;
}
@keyframes animate {
  0%{
    background-image: url('../../../images/rolexbackground10.jpg');
  } 20%{
    background-image: url('../../../images/rolex-mobile-11.jpg');
  } 40%{
    background-image: url('../../../images/rolexbackground3.jpg');
  } 60%{
    background-image: url('../../../images/rolexbackground14jpg.webp');
  } 80%{
    background-image: url('../../../images/rolexbackground13.jpg');
  } 100%{
    background-image: url('../../../images/rolexbackground15.jpg');
  }
}

.header-overlay-container {
  background-color: rgba(0, 0, 0, 0.598);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out;
  transition-duration: 0.6s;
  box-shadow: 1px 1px 50px rgb(0, 0, 0);
}



.header-logo {
  height: 15vw;
  width: 18vw;
}

.header-h1 {
  font-family: 'Times New Roman', Times, serif;
  color: rgba(21, 131, 34, 0.943);
  font-size: 6vw;
  letter-spacing: 0.4rem;
  text-align: center;
  font-weight: 500;
  
}




.header-info-left {
  max-width: 1200px;
  margin: 0 auto 10rem auto;
  align-items: center;
  justify-content: left;
  display: flex;
  
}

.header-info-left-img {
  width: 70%;
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 7px 100px rgba(93, 93, 93, 0.927);
  transition: 1.5s ease-out;
}

.header-info-left-img:hover {
  transition: 0.5s ease-in-out;
  box-shadow: 1px 7px 100px rgb(0, 0, 0);
  cursor: pointer;
}


.header-info-right {
  max-width: 1200px;
  margin: 0 auto 10rem auto;
  display: flex;
  align-items: center;
  justify-content: right;
}



.header-info-right-img {
  width: 70%;
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 7px 100px rgba(93, 93, 93, 0.927);
  transition: 1.5s ease-out;
}

.header-info-right-img:hover {
  transition: 0.5s ease-in-out;
  box-shadow: 1px 7px 100px rgb(0, 0, 0);
  cursor: pointer;
}

.description-container {
  width: 100%;
  background-color: rgb(249, 249, 249);
  padding: 2rem 0;
}
.description {
  width: 60%;
  padding: 3rem 0;
  margin: 0 auto;
}

.description h2 {
  letter-spacing: 2px;
}

.description p {
  font-size: small;
}





.info-h1 {
  text-align: center;
  width: 70%;
  margin: 6rem auto ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 4px;
  word-spacing: 15px;
  text-shadow: 1px 1px 30px rgb(139, 139, 139);
}

h4 {
  padding: 0 2rem;
  font-family: 'Lato', sans-serif;
  font-size: large;
}

.paralax-image {
  width: 100%;
  height: 30vh;
  background-image: url('../../../images/paralax-image.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}


@media only screen and (max-width: 1500px) {
  .header-info-left {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-info-right {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  /* .header-info-left img {
    width: 100%;
  }

  .header-info-right img {
    width: 100%;
  } */
  h4 {
    margin-top: 2rem;
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .watch-list {
    padding: 0;
  }
  .header-h1 {
    font-size: 3rem;
  }
}



@media only screen and (max-width: 800px) {
  .watch-list-h1 {
    text-align: center;
    font-size: 9vw;
  }
  .info-h1 {
    font-size: 6vw;
  }
  
  .header-info-left img {
    width: 90%;
  }
  .header-info-right img {
    width: 90%;
  }

  .header-info-left, .header-info-right {
    margin-bottom: 5rem;
  }

  h4 {
    width: 100%;
  }

  
}


@media only screen and (max-width: 700px) {
  .header-logo {
    height: 5.7rem;
    width: 6.5rem;
  }
  h4 {
    font-size: small;
    margin-top: 25px;
  }
}


@media only screen and (max-width: 600px) {

  .info-h1 {
    font-size: 1.8rem;
  }

  .header-background {
    background-image: url('../../../images/rolex-mobile-11.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: none;
    width: 100vw;
    height: 100vh;
    background-attachment: scroll;
  }

  .header-overlay-container {
    background-color: rgba(0, 0, 0, 0.765);
  }


}

@media only screen and (max-width: 500px) { 
  h4 {
    word-break: break-all;
  }
  
}


@media only screen and (max-width: 500px) {
  h2 {
    font-size: medium;
  }
  .description p {
    font-size: xx-small;
  }
}

@media only screen and (max-width: 350px) {
  .header-logo {
    height: 32vw;
    width: 38vw;
  }
  .header-h1 {
    font-size: 17vw;
    word-break: break-all;
  }
  .info-h1 {
    font-size: 10vw;
  }
  
  
}