.footer {
    width: 100%;
    background-color: rgb(155, 155, 155);
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    height: 5rem;
    
    
}

h1 {
    margin: 0;
    padding: 0;
}