


.header-logo-container {
    text-align: center;
  }


  .header-background {
    background-image: url("../../../images/rolexbackground7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    transition: 0.5s;
    animation-name: animate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    font-family: 'Lato', sans-serif;
  }
  @keyframes animate {
    0%{
      background-image: url('../../../images/rolexbackground10.jpg');
    } 20%{
      background-image: url('../../../images/rolexbackground13.jpg');
    } 40%{
      background-image: url('../../../images/rolexbackground15.jpg');
    } 60%{
      background-image: url('../../../images/rolexbackground14jpg.webp');
    } 80%{
      background-image: url('../../../images/rolexbackground13.jpg');
    } 100%{
      background-image: url('../../../images/rolexbackground3.jpg');
    }
  }

  .header-overlay-container {
    background-color: rgba(0, 0, 0, 0.598);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-logo {
    height: 10rem;
    width: 12rem;
  }

  .header-h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(21, 131, 34, 0.943);
    font-size: 6rem;
    letter-spacing: 0.4rem;
    text-align: center;
    font-weight: 500;
  }




  html, body {
    height: 100%;
  }
  
    
    
  
    /* .header-overlay {
      margin: 0;
      background-color: rgba(0, 0, 0, 0.644);
      width: 100%;
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      font-weight: 100;
    } */
  
    
  
    .watch-list-h1 {
      margin: 3rem auto;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 100;
      text-align: left;
      width: 70%;
      font-size: 4rem;
    }
  
    .display-items img {
      height: 15rem;
      width: 15rem;
    }
  
    
    .watch-list {
      margin: 0 auto;
      background: rgba(45, 45, 45, 0);
      width: 100%;
      display: flex;
      
      justify-content: space-around;
      flex-flow:  wrap;
      padding: 6rem ;
      font-size: 2rem;
    }
    
    .display-items {
      display: grid; 
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 900;
      color: rgba(21, 131, 34, 0.943);
    }
  
    a {
      text-decoration: none;
      
    }
  
    
  
    .select-watch-type {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 2rem ;
      background-color: rgb(219, 219, 219);
      padding: 3rem;
      width: 70%;
      margin: 0 auto;
    }
  
    .select-watch-type button {
      border: black solid 1px;
      background-color: rgb(240, 240, 240);
      color: rgb(0, 0, 0);
      padding: 14px 30px;
      border-radius: 15px;
    }
  